<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Nuevo Turno (Admin)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
<body>
  <div class="container">
    <header class="top-header">
      <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo Institución 1">
      <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Institución 2">
    </header>

    <h1>Crear Nuevo Turno (Admin)</h1>

    <form id="formTurno" method="POST" action="{{ url_for('admin_crear_post') }}">
      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-4">
            <label for="nombreCompleto">Nombre completo de quien realizará el trámite:</label>
            <input type="text" id="nombreCompleto" name="nombreCompleto" class="text-box" required>
            <span class="error-message"></span>
          </div>

          <div class="form-field field-2">
            <label for="curp">CURP:</label>
            <input type="text" id="curp" name="curp" class="text-box" required>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-2">
            <label for="nombre">Nombre (alumno):</label>
            <input type="text" id="nombre" name="nombre" class="text-box" required>
            <span class="error-message"></span>
          </div>

          <div class="form-field field-2">
            <label for="paterno">Paterno (alumno):</label>
            <input type="text" id="paterno" name="paterno" class="text-box" required>
            <span class="error-message"></span>
          </div>

          <div class="form-field field-2">
            <label for="materno">Materno (alumno):</label>
            <input type="text" id="materno" name="materno" class="text-box" required>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-2">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" class="text-box">
            <span class="error-message"></span>
          </div>

          <div class="form-field field-2">
            <label for="celular">Celular:</label>
            <input type="tel" id="celular" name="celular" class="text-box" required>
            <span class="error-message"></span>
          </div>

          <div class="form-field field-2">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" class="text-box" required>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-6">
            <label for="nivel">¿Nivel al que desea ingresar o que ya cursa el alumno?</label>
            <select id="nivel" name="nivel" class="combo-box" required>
              <option value="">Seleccione una opción</option>
              {% for nivel in niveles %}
                <option value="{{ nivel.id_nivel }}">{{ nivel.nivel }}</option>
              {% endfor %}
            </select>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-3">
            <label for="municipio">Municipio donde desea estudie el alumno:</label>
            <select id="municipio" name="municipio" class="combo-box" required>
              <option value="">Seleccione un municipio</option>
              {% for municipio in municipios %}
                <option value="{{ municipio.id_municipio }}">{{ municipio.municipio }}</option>
              {% endfor %}
            </select>
            <span class="error-message"></span>
          </div>

          <div class="form-field field-3">
            <label for="oficina">Oficina Regional:</label>
            <select id="oficina" name="oficina" class="combo-box" required disabled>
              <option value="">Seleccione un municipio primero</option>
            </select>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-grid">
          <div class="form-field field-6">
            <label for="asunto">Seleccione el asunto que va a tratar:</label>
            <select id="asunto" name="asunto" class="combo-box" required>
              <option value="">Seleccione un asunto</option>
              {% for asunto in asuntos %}
                <option value="{{ asunto.id_asunto }}">{{ asunto.descripcion }}</option>
              {% endfor %}
            </select>
            <span class="error-message"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
       <div class="form-actions">
        <button type="submit" >Generar Turno</button>
      </div>

      <div class="form-actions">
        <button type="button" id="btnRegresar" onclick="window.location.href='{{ url_for('admin_turnos_get') }}'">Regresar</button>
      </div>

    </form>
  </div>

  <script src="{{ url_for('static', filename='js/validador.js', v=cache_buster) }}"></script>

</body>
</html>