  body {
            background-color: #f5f7fa;
        }
        .navbar {
            background-color: #0062cc;
        }
        .navbar-brand, .nav-link {
            color: white !important;
        }
        .container {
            margin-top: 2rem;
        }
        iframe {
            width: 100%;
            min-height: 75vh;
            border: none;
        }